body {
    font-family: Arial, sans-serif;
   background-color: #A024DB;
   color: aliceblue;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 55px;
    border-radius: 5px;
    box-shadow: 2px 4px 6px #1ecbe1;
    margin-top: 7rem;
    background-color: #B350E2 ;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.task-item {
    margin-bottom: 5px;
}
ul{
    list-style: none;
    margin-top: 1rem ;
    padding: 0.5rem 0.5rem;
    font-weight: 500;
    font-size: 30px;
    color: rgb(10, 10, 10);
    


}
ul h3{
    font-size: 25px;
    margin-top: 0.3rem;
    padding:0.3rem 0.3rem ;

}
ul li{
    background-color:white;
    box-shadow: 2px 3px 5px #f2a704 ;
    margin-bottom: 1rem;
    border-radius: 8px;
    width: 28rem;
}
#id{
    height:20px;
    width:20px;
    margin-right:0.7rem;
    margin-left: 0.5rem;
}
#cross{
    float: right;
    padding-left: 0.5rem;
    margin-top: 0.01rem;
    cursor: pointer;
    background-color: red;
    width: 1.7rem;
    height:2.1rem;
    border-radius: 3px;
    
}
#edit{
    float: right;
    margin-right: 1rem;
    padding-bottom:0.4rem;
    height: 1.4rem;
    width:2.4rem ;
    padding-top: 0.3rem;
    background-color: blue;
    border-radius: 3px;
    cursor: pointer;
}

